:host {
  display: contents;
}

.period-field {
  width: 12rem;
}

.date-field {
  width: 10.5rem;
}

:host(.dense) ::ng-deep .mat-mdc-form-field-infix {
  min-height: 36px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
